apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ dashboard_issuer }}
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    #kubernetes.io/tls-acme: "true"
    #kubernetes.io/ingress.class: {{ dashboard_ingress_class }}
    traefik.ingress.kubernetes.io/router.tls.certresolver: {{ dashboard_issuer }}
    #cert-manager.io/common-name: {{ dashboard_suffix + '.' + dns.base_host }}
  name: k8s-dashboard-staging
  namespace: kubernetes-dashboard
spec:
  rules:
    - host: {{ dashboard_suffix + '.' + dns.base_host }}
      http:
        paths:
          - backend:
              service:
                name: kubernetes-dashboard-kong-proxy
                port:
                  number: 443
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - {{ dashboard_suffix + '.' + dns.base_host }}
      secretName: kube-dashboard-tls-staging
